.container-fluid {
    max-width: 900px;
    margin: 0 auto;
}

.ant-layout-header {
    background-color: white !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.header {
    display: flex !important;
    align-items: center !important;
}

.ant-menu-horizontal {
    width: 100% !important;
}

.ant-menu-overflow {
    justify-content: flex-end;
}

.inputNav {
    height: 40px !important;
    width: 200px !important;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carouselBlock {
    height: 500px;
}

.aboutHolder,
.cardContainer,
.contact-section {
    text-align: center;
}

.row-about {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.aboutIcons > svg {
    height: 40px !important;
    width: 40px !important;
    color: cornflowerblue;
}

.title {
    display: inline-block;
    line-height: 3rem;
    box-shadow: 0 25px 0 -23px cornflowerblue;
}

.ant-row {
    align-items: center !important;
}
